@import "../../../styles/base/colors.scss";
@import "../../../styles/base/typography.scss";
@import "../../../styles/layout/grid.scss";

.header_footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 14.8rem 0 8rem 0;
  color: $gray;

  .links {
    display: flex;
    gap: $gutter_md;

    a {
      text-decoration: none;
      font-family: var(--font-d-din-condensed);
      line-height: 92.4%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      font-size: 1.5rem;

      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }
}
