.background {
  display: flex;
  background-color: $black-800;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: $m-text;
  color: white;
  letter-spacing: 1.5px;
  height: 100svh;

  .preloader_container {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      height: 100%;
    }

    .languages_container {
      border-radius: 50px;
      // box-shadow: 20px 20px 29px #0e0e16, -20px -20px 29px #12121e;
      // box-shadow: inset 1em 1em $black-800;
      height: 3.5rem;
      padding: $gutter_sm;
      overflow: hidden;
      .languages {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
