@import "../../styles/base/colors.scss";
@import "../../styles/base/typography.scss";
@import "../../styles/layout/grid.scss";

.container {
  position: fixed;
  top: 5rem;
  right: 0;
  left: 0;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(42, 43, 56, 0.5);
  border: 0.2rem solid #2a2b37;
  -webkit-backdrop-filter: blur(104px);
  backdrop-filter: blur(104px);
  border-radius: 2rem;

  .logo_container {
    display: flex;
    align-items: center;
    gap: $gutter_sm;
    .logo_img {
      svg {
        width: 3rem;
        path {
          fill: $gray;
        }
      }
    }
    .logo_text {
      svg {
        width: 7rem;
      }
    }
  }

  .menu_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    button {
      background-color: transparent;
      border: none;
      color: $gray;
      font-size: 1.5rem;
      font-family: var(--font-d-din-condensed);
    }

    svg {
      width: 3.5rem;
    }
  }
}

@media (max-width: $screen_sm) {
  .container {
    width: 75%;
    padding: 1.5rem;
    .logo_container {
      .logo_img {
        svg {
          width: 2.5rem;
        }
      }
    }
    .menu_btn {
      svg {
        width: 3.2rem;
      }
    }
  }
}
