// $primary-color: #3498db;
// $secondary-color: #2ecc71;

$gray: #c4c4c4c4;
$black-800: #10101a;

// bg and text colors
$background-color: #000;
$text-color: $gray;

// semantic colors
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
