@import "./colors.scss";
@import "../layout/grid.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:link:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5); */
}

html,
body {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $background-color;
  color: $gray;
}

a {
  color: inherit;
  text-decoration: none;
}
