@import "./colors.scss";
@import "../layout/grid.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:link:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5); */
}

html,
body {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $background-color;
  color: $gray;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: $screen_md) {
  html,
  body {
    font-size: 50%;
  }
}

@media (max-width: $screen_sm) {
  html,
  body {
    font-size: 45%;
  }
}

@media (max-width: $screen_xs) {
  html,
  body {
    font-size: 40%;
  }
}

// @media (max-width: $screen_md) {
//   .header_wrapper {
//     .container {
//       .heading {
//         font-size: 6.5rem;
//       }
//     }
//   }
// }
